<nav class="navbar navbar-expand-lg bg-body-tertiary firebase-gradient">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Navbar</a>
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link pointer" routerLink="/home">Home</a>
        <a class="nav-link pointer" (click)="Logout()"  > Logout </a>
        <a class="nav-link pointer" (click)="Register()"  > Register </a>
        <a class="nav-link pointer" (click)="Note()"  > Note </a>
      </div>
    </div>
  </div>
</nav>

