<h3 class="text-center m-5">Register</h3>

<form >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" >Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="emailR" name="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="passwordR"name="password" >
  </div>

  <button (click)="Login()" class="btn btn-primary">Register</button>
</form>
